*.bak
*.crt
*.deb
*.DS_Store
*.example
*.iml
*.key
*.amd64
*.mips
*.mipsel
*.swp
*.tgz
*.xml
browse.VC.db
debug.test

.payload/config/scripts/pixelserv

README.md.bak

pixelserv.mipsel

pixelserv.mips
