# Ignore all
*

# Add back files with extensions and directories
!*.*
!*/
*.bak
*.crt
*.deb
*.DS_Store
*.example
*.header.bak
*.iml
*.key
*.swp
*.xml
browse.VC.db
debug.test
pixelserv
VERSION


README.header.bak
